* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ff6354;
    font-family: monospace, sans-serif;
    color: #111;
}

.form-box {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 80vw;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
}

.form-box h2 {
    margin-bottom: 5px;
}

.form-box .bar {
    width: 40px;
    height: 2px;
    background:#ff6354;
}

.form-box label {
    margin: 10px 0;
}

.form-box input {
    padding: 10px;
    border: none;
    border: 1px solid #ff6354;
    border-radius: 10px;
}

.form-box button {
    margin: 30px 0 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ff6354;
    color: #fff ;
    cursor: pointer;
    text-transform: uppercase;
}